{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>عرض الفاتورة</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- for icons -->
    <link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=diwani-bent,fantezy,decotype-thuluth,thuluth-decorated" /> <!-- الخط الديواني و خط الثلث و عدة خطوط -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet"> -->
<link href="{% static 'E:\Coding\Expenses project\env\Expenses\static\CSS\style.css' %}" rel="stylesheet">
<script src="{% static 'E:\Coding\Expenses project\env\Expenses\static\JS\javas.js' %}"></script>
<style>

</style>
</head>
<body style="background-color:rgb(204, 204, 204);">
    <h1 style="font-family: 'decotype-thuluth';text-align: center;margin-top: 20px;">طلبات البيت</h1>
    <div class="pill">
        <div style="margin: 3% 2% 0% 2%;">
            <a>
                المشتري
            </a>
            <select id="persons" name="persons"  disabled>
                <option value="nour">نور الدين</option>
            </select>
            <br><br>
            <table style="width: 100%; margin-top: 5px;"id="myTR">
                <tr>
                    <th>السلعة</th>
                    <th>السعر</th>
                    <th>الفئة</th>
                </tr>
                <tr >
                    <th style="font-family:'Times New Roman', Times, serif;">لبن</th>
                    <th style="font-family:'Times New Roman', Times, serif;">30</th>
                    <th style="font-family:'Times New Roman', Times, serif;">منتجات البان</th>
                </tr>
            </table>
            
            <p style="margin-top: 3%;">
                نعنشة:  <a style="font-family:'Times New Roman', Times, serif; font-size: 20px; margin-right: 3px;">50</a>
            </p>
            <ul id="myUL4">
            
            </ul>
            <div style="text-align: center;"><button class="btn done">تعديل</button></div>
        </div>
    </div>


<script>
    
</script>
</body>
</html>